* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: hsl(47, 88%, 63%);
  --secondary-color: hsl(0, 0%, 100%);
  --paragraph-greycolor: hsl(0, 0%, 50%);
  --black-color:Black: hsl(0, 0%, 7%) ;
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: var(--background-color);
  padding: 30px 40px;
  margin-top: 150px;
}

img, .date, .title{
  margin-bottom: 15px;
}

.container{
 background-color: var(--secondary-color);
 padding: 22px;
 margin: auto;
 width: 350px;
 height: 500px;
 border-radius: 20px;
 border: 2px solid black;
 box-shadow: 8px 7px 0 black; 
 cursor: pointer;
}

img{
  width: 300px;
  border-radius: 8px;
  cursor: pointer;
}

button{
background-color: var(--background-color);
padding: 8px 10px;
border: none;
border-radius:4px ;
margin-bottom: 12px;
font-size: 14px;
font-weight: bold;
}

.date{
  font-size: 14px;
}
.title{
  font-size: 18px;
}

.stats{
  color: var(--paragraph-greycolor);
  font-size: 15px;
  font-weight: lighter;
  width: 300px; 
  margin-bottom: 20px;
  line-height: 24px; 
 
}

.author{
  display: flex;
  align-items: center;
}

.author img{
  width: 35px;
}

.author p{
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

@media only screen and (max-width: 375px){
  .container{
    width: 300px;
    margin-right: 20px;
  }

  img{
    width: 260px;
  }
  .stats{
    font-size: 13px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 80px;
}
.attribution a {

  color: hsl(228, 45%, 44%);
}
