* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2f65f8;
  --light-color: #575988;
  --hover-color: #6c9bff;
  --dark-blue: #07043b;
  --icon-color: #3da08f;
  --white-color: #fff;
  --light-green: #71dfcc;
  --invalid-color: #ef4877;
}
