* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2f65f8;
  --light-color: #575988;
  --hover-color: #6c9bff;
  --dark-blue: #07043b;
  --icon-color: #3da08f;
  --white-color: #fff;
  --light-green: #71dfcc;
}

body {
  line-height: 1.4;
}
.header,
h1,
h2,
.btn {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  text-decoration: none;
  color: var(--dark-blue);
  padding: 0 15px;
}

/*hero*/

.hero {
  margin-top: 50px;
}

.hero-content {
}

.hero-content h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.531px;
}

.hero-input input {
  padding: 7px 15px;
  margin-top: 15px;
  font-size: 14px;
  margin-bottom: 10px;
}
input[type='text'] {
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
}
.primary-btn {
  padding: 10px 50px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

.primary-btn {
  margin-left: 16px;
}

.primary-btn:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.cta {
  margin-top: 50px;
}

.cta h2 {
  margin-bottom: 15px;
}

.cta p {
  font-size: 16px;
}

.cta a {
  text-decoration: none;
  color: var(--icon-color);
  border-bottom: 1px solid var(--icon-color);
  padding-bottom: 3px;
  font-size: 16px;
  cursor: pointer;
}

a:active {
  color: var(--light-green);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
