@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main {
  max-width: 1108.848px;
  margin: 0 auto;
}

body {
  font-family: 'Epilogue', sans-serif;
}
header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

header button {
  border-radius: 6px;
  border: 1px solid #172339;
  color: #172339;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  letter-spacing: -0.16px;
  padding: 12px 23.5px;
  cursor: pointer;
  background-color: white;
}

.hero {
  display: flex;
  align-items: center;
  margin: 182px 0;
  gap: 96px;
}

.hero-details {
  display: flex;
  align-items: center;
  flex: 70%;
  position: relative;
}

.hero-details img {
  position: absolute;
  right: -115px;
  z-index: -1;
}

.hero-stats {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 63px;
  flex: 30%;
}

.hero-stats p {
  color: #49566d;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 2.5px;
}

.hero-stats span {
  color: #172339;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.5px;
  display: block;
}

h1 {
  color: #172339;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 78px; /* 108.333% */
  letter-spacing: -1px;
  position: relative;
}

h1 svg {
  position: absolute;
  top: -55px;
  right: 40px;
}

h1 span {
  font-weight: 700;
}

.hero .hero-details .hero-detail p {
  margin: 40px 0 52px;
  color: #49566d;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  letter-spacing: 0.1px;
  width: 350px;
}

.hero .hero-details .hero-detail button {
  border-radius: 6px;
  background: #172339;
  color: #faf8f6;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.18px;
  padding: 15px 31px;
}

.work-section {
  height: 545px;
  width: 1109px;
  flex-shrink: 0;
  background: #172339;
  color: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
}
.section-image {
  position: absolute;
  left: 100px;
}

.work-section svg {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work-details {
  width: 350px;
  display: flex;
  text-align: left;
  flex-direction: column;
  position: absolute;
  right: 100px;
  gap: 20px;
  /*white-space: nowrap;*/
}

.work-details label {
  color: #faf8f6;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.5px;
  white-space: nowrap;
  text-align: left;
}

.work-details p {
  width: 350px;
  color: #f3ede7;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 175% */
  letter-spacing: 0.1px;
  text-align: left;
}

.work-author {
  color: #faf8f6;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.18px;
}

footer {
  background: #f3ede7;
  width: 1109px;
  height: 32px;
  flex-shrink: 0;
  margin: 0 auto;
}
